/* overall styling */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("wireframe/drinks1.jpg");
    
}

img{
    width: 10rem;
}

h1, h5 {
    color:white;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 300;
    text-shadow: 2px 2px #e0411b;
}

button{
    background-image:linear-gradient(#2a37e4,#180a0a); 
}

/* navbar styling */
.nav-wrapper {
    /* background-color: #e87f0a; */
    background-image:linear-gradient(#180a0a, #e0411b); 
}

.brand-logo{
    font-family: 'Sansita Swashed', cursive;
    font-weight: 800;
}

/* aside/search styling */
aside > *{
    background-color: rgba(255, 255, 255, 0.404);
}

form{
    padding-bottom: 10%;
}

.datepicker-date-display{
    background-image:linear-gradient(#e0411b,#180a0a);
}

.datepicker-day-button, .datepicker-cancel, .datepicker-done, .month-next, .month-prev{
    background-image: none;
}

/* recipe display styling */
main {
    flex: 1 0 auto;
}

#main-list{
    border: none;
}

.collapsible-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px 50px;
}

.card-title{
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
}

.card-title{
    font-family: 'Sansita Swashed', cursive;
    font-weight: 300;
}

.collapsible-body {
    background-color: rgba(0, 0, 0, 50%);
    color: white;
    border: none;
}

#body-display{
    margin-left: 0;
    margin-bottom: 10%;
    width: 100vw;
}

#body-display-2{
    margin-bottom: 10%;
}

.card-action{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#save-button{
    color: white;
}

.collapsible{
    border: none;
}

/* footer styling */
.page-footer {
    background-image:linear-gradient(#e0411b,#180a0a); 
    position: fixed !important;
    bottom: 0;
    right: 0;
    width: 100vw;
}

.copyright {
    text-align: center;
}
