body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("wireframe/drinks1.jpg");
    
}

main {
    flex: 1 0 auto;
}

img{
    width: 10rem;
}

.collapsible-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

/* background image can be seen from behind by adjusting alpha channel  */
.collapsible-body {
    background-color: rgba(0, 0, 0, 50%);
    color: white;
}

.card-title{
    font-size: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: start; */
}

.card-action{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.container{
    margin-left: 0;
    width: 100vw;
}


